CONFIG_HTTP_SERVER_INSTANCE=n
CONFIG_HEATING_CIRCLE_CONTROL=n

CONFIG_OUTPUT_PROCESS=y
CONFIG_OUTPUT_PROCESS_NUM_OF_PINS=3
CONFIG_OUTPUT_PROCESS_INSTANCE=y
CONFIG_OUTPUT_PROCESS_PIN0=26
CONFIG_OUTPUT_PROCESS_PIN1=27
CONFIG_OUTPUT_PROCESS_PIN2=28

CONFIG_HTTP_SERVER_INSTANCE=n
CONFIG_SENSORS_CONTROL_NODE=y
CONFIG_TELNET_COMMANDS_SENSORS=y

CONFIG_SENSORS_CONTROL_NODE_CONTROL_REMOTE_SENSORS=y
