CONFIG_HTTP_SERVER_INSTANCE=n
CONFIG_HEATING_CIRCLE_CONTROL=y

CONFIG_OUTPUT_PROCESS=y
CONFIG_OUTPUT_PROCESS_NUM_OF_PINS=16
CONFIG_OUTPUT_PROCESS_INSTANCE=y

CONFIG_OUTPUT_PROCESS_PIN0=26
CONFIG_OUTPUT_PROCESS_PIN1=27
CONFIG_OUTPUT_PROCESS_PIN2=28
CONFIG_OUTPUT_PROCESS_PIN3=29
CONFIG_OUTPUT_PROCESS_PIN4=30
CONFIG_OUTPUT_PROCESS_PIN5=31
CONFIG_OUTPUT_PROCESS_PIN6=32
CONFIG_OUTPUT_PROCESS_PIN7=33
CONFIG_OUTPUT_PROCESS_PIN8=34
CONFIG_OUTPUT_PROCESS_PIN9=35
CONFIG_OUTPUT_PROCESS_PIN10=36
CONFIG_OUTPUT_PROCESS_PIN11=37
CONFIG_OUTPUT_PROCESS_PIN12=38
CONFIG_OUTPUT_PROCESS_PIN13=39
CONFIG_OUTPUT_PROCESS_PIN14=40
CONFIG_OUTPUT_PROCESS_PIN15=41

CONFIG_HTTP_SERVER_INSTANCE=n
CONFIG_SENSORS_CONTROL_NODE=y
CONFIG_TELNET_COMMANDS_SENSORS=n
