CONFIG_LOGGER=n

# dev ID for communucation from EEPROM
CONFIG_TLE8457_COMM_DEV_ID_FROM_EEPROM=y

######### communication configuration for light control node board
CONFIG_TLE8457_SERIAL_PORT_1=y
CONFIG_OUTPUT_QUEUE_SIZE=50

CONFIG_NETWORK=n

######### sensors
CONFIG_SENSORS=y
CONFIG_SENSOR_DONT_GENERATE_EVENTS=y
CONFIG_SENSORS_FACTORY_INSTANCE=y

CONFIG_SYSTEM_STATUS_SENSOR=y
CONFIG_DS1820_SENSOR=y
CONFIG_SHT3_DIS_SENSOR=y
CONFIG_TGS2603_ODOUR_SENSOR=y


# sensors will send events to central node
CONFIG_SENSOR_SEND_EVENTS_USING_SERIAL=y
CONFIG_SENSORS_STORE_IN_EEPROM=n

