menu "Heating Control menu"

config EEPROM_ENABLED_SENSORS
    bool "Enable sensors based on bitmap in EEPROM"
    default n

rsource "src/HeatingCircle/kconfig"      

rsource "src/Common_code/kconfig"

endmenu
