CONFIG_LOGGER=y
CONFIG_LOGLEVEL_3=y
CONFIG_LOGGER_TRANSPORT_SERIAL=y
CONFIG_LOGGER_SERIAL_PORT_1=y
CONFIG_LOGGER_TRANSPORT_SPEED=115200

CONFIG_NETWORK=y
CONFIG_TCP_WATCHDOG=y
CONFIG_TCP_WATCHDOG_TIMEOUT=300
CONFIG_IP_ADDRESES_FROM_EEPROM=y
CONFIG_TELNET_SERVER=y
CONFIG_HTTP_SERVER=y
CONFIG_SENSOR_STATE_SERVLET=y
CONFIG_OUTPUT_CONTROL_SERVLET=y

CONFIG_SENSORS=y
CONFIG_SENSORS_FACTORY=y
# CONFIG_SENSORS_FACTORY_INSTANCE is not set
CONFIG_SYSTEM_STATUS_SENSOR=y
CONFIG_DS1820_SENSOR=y
CONFIG_IMPULSE_SENSOR=y
CONFIG_OUTPUT_STATE_SENSOR=y
CONFIG_PT100_ANALOG_SENSOR=y
CONFIG_SIMPLE_DIGITAL_INPUT_SENSOR=y
CONFIG_SENSOR_HUB=y

# CONFIG_SENSOR_HUB_MESSAGE_RECIEVER is not set
CONFIG_SENSORS_JSON_OUTPUT=y
# CONFIG_SENSOR_GENERATE_EVENTS is not set
CONFIG_SENSOR_HUB_GENERATE_EVENTS=y
CONFIG_WATCHDOG=y
